<div id="nav">
	<div id="logo"><a href="http://www.telegeography.com/"><img src="images/telegeography-logo.png" width="107" height="16" alt="Telegeography"></a></div>
	<div id="description">
		<h1>Internet Exchange Map</h1>
			<p>The Internet Exchange Map is a free resource from <a href="http://www.telegeography.com/">TeleGeography</a>. Data contained in this map was complied by TeleGeography and is updated on a regular basis.</p>
		<p>
			To learn more about <a href="http://www.telegeography.com/">TeleGeography</a> or this map, please visit <a href="http://www.telegeography.com/telecom-resources/internet-exchange-map/index.html">www.telegeography.com</a>.
		</p>
	</div>
	<a id="sponsor-logo"onclick="window.open(this.href,'datamena'); return false;" href="http://www.datamena.com"></a>
	<div id="footer">
	  <span id="sponsor">Sponsored by Datamena</span>
		<a href="https://github.com/telegeography/www.internetexchangemap.com" class="github"></a>
		<a href="http://www.facebook.com/sharer.php?u=http://www.internetexchangemap.com/" class="facebook"></a>
		<a href="https://twitter.com/share?original_referer=http%3A%2F%2Fwww.internetexchangemap.com%2F&amp;source=tweetbutton&amp;text=Internet+Exchange+Map&amp;url=http%3A%2F%2Fwww.internetexchangemap.com" class="twitter"></a>
		<a href="mailto:ixmap@telegeography.com">Feedback</a>
	</div>
	<div class="search-container"><input id="search" value="Search" /></div>
	<div id="information">{{outlet}}</div>
	<div id="copyright">All content &#169; <span class="year">2014</span> PriMetrica, Inc. <div class="fade"></div></div>
</div>
<div id="map"></div>